.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    .groupInput{
        display: flex;
        margin: 20px 0;
    }
    .card{
                box-shadow: 5px 10px 12px #888888;

    }
}